.manage-schedule-container {
    .m-s-title {
        text-transform: uppercase;
        margin-top    : 15px;
        margin-bottom : 15px;
        font-weight   : 600;
        font-size     : 17px;
        text-align    : center;
    }

    .pick-hour-container {
        height         : 100px;
        display        : flex;
        flex-wrap      : wrap;
        gap            : 16px;
        justify-content: center;
        align-items    : center;

        .btn-schedule {
            border          : 1px solid grey;
            background-color: #fff;
            box-shadow      : 0px 0.1px 0.1px rgba(0, 0, 0, 0.5);

            &.active {
                background-color: orange;
            }
        }




    }

    .btn-primary {
        box-shadow: 0px 0.1px 0.1px rgba(0, 0, 0, 0.5);
    }

}