.manage-doctor-container{
    padding: 5px;
    .manage-doctor-title{
        text-align: center;
        font-size: 20px;
        margin: 15px 0;
        text-transform: uppercase;
        font-weight: 600;
    }
}