
.home-header-container{
    height: 60px;
    width:100%;
    padding: 0 20px;
    .home-header-content{
        width:100%;
        height:100%;
        display: flex;
        .left-content{
            width: 25%;
            display: flex;
            align-items: center;
            .header-logo{
                background: url(../../assets/logo.svg) center center no-repeat;
                height: 99%;
                width: 100%;
                cursor: pointer;
                transform: scale(0.9);

            }
            i{
                font-size: 25px;
                color: #969495;
                cursor: pointer;
            }
        }
        .center-content{
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            font-family:  Arial, Helvetica, sans-serif;
            .child-content{
                text-align: center;
                div:first-child{
                    color: #333;
                    font-size: 13px;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                    opacity: 0.9;
                    text-shadow: 1px 1px 1px rgb(249, 243, 243);
                }
                .subs-title{
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }
        .right-content{
            width: 25%;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: flex-end;
            position: relative;
            padding-right:35px ;
            .support{
                padding-right: 50px;
                cursor: pointer;
                opacity: 0.8;
                i.fas.fa-question-circle{
                    font-size: 15px;
                    margin-right: 10px;
                    color: #45c3d2;
                }
            }

            .language-vi {
                opacity: 0.5;
                span{
                    cursor: pointer;
                }
                &:hover{
                    opacity: 1;
                }
                &.active {
                    opacity: 1;
                    span{
                        color:orange;
                    }
                    .flag{
                        background: url(../../assets/Flag_of_Vietnam.svg) ;
                        border-radius: 50%;
                        -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
                        -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
                        box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
                        width: 30px;
                        height: 30px;
                        margin: 2px 0px;
                        background-size: 45px;
                        background-repeat: no-repeat;
                        background-position: center;
                        position: absolute;
                        right: 0;
                        top:12px;
                    }
                }
            }
            .language-en {
                margin:0 10px;
                opacity: 0.5;
                &:hover{
                    cursor: pointer;
                    opacity: 1;
                }

                &.active{
                    opacity: 1;
                    span{
                        color: #45c3d2;
                    }
                    .flag{
                        background: url(../../assets/uk.jpg) ;
                        border-radius: 50%;
                        -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
                        -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
                        box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
                        width: 30px;
                        height: 30px;
                        margin: 2px 0px;
                        background-size: 63px;
                        background-repeat: no-repeat;
                        background-position: center;
                        position: absolute;
                        right: 0;
                        top: 12px;
                    }
                }
            }

        }
    }
}
.home-header-banner {
    background: url(../../assets/background.jpg)center center no-repeat;
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .title1{
        text-align: center;
        font-size: 32px;
        text-shadow: 1px 1px 1px #333;
        color: white;
        margin-top: 95px;
        margin-bottom: 8px;
    }
    .title2{
        text-align: center;
        font-size: 32px;
        text-shadow: 1px 1px 1px #333;
        color: white;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .search{
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 10px;
        border-radius: 25px;
        background: #f7d800;
        i {
            padding: 0 10px;
        }
        input{
            height: 25px;
            width: 382px;
            border: none;
            background: transparent;
            outline: none;
        }
    }
    .content-up {
        height: 65%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25),rgba(255, 255, 255, 0.1));
        padding-bottom: 30px;
    }
    .content-down {
        height: 35%;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 1));
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20px;
        .options{
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(35px);
            .option-child:nth-child(1){
                .text-child{
                    width: 100px;
                }
            }
            .option-child:nth-child(2){
                .text-child{
                    width: 88px;
                }
            }
            .option-child:nth-child(3){
                .text-child{
                    width: 85px;
                }
            }
            .option-child:nth-child(4){
                .text-child{
                    width: 90px;
                }
            }
            .option-child:nth-child(6){
                .text-child{
                    width: 88px;
                }
            }
            .option-child {
                min-width: 150px;
                font-size: 16px;
                cursor: pointer;
                text-align: center;
                .icon-child{
                    background: #fff;
                    border-radius: 50%;
                    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
                    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
                    box-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
                    width: 50px;
                    height: 50px;
                    margin: 2px auto;
                    background-size: 32px;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .text-child{
                    font-size: 16px;
                    font-weight: bold;
                    opacity: 0.9;
                    text-shadow: 1px 1px 1px rgb(241, 234, 234);
                    width: 100px;
                    margin: 0 auto;
                    &:hover{
                        color: #45c3d2;
                        transition: 0.2s linear;
                    }
                }
            }
        }
    }
}